.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 800;
	src:local('Gilroy'),
		url('../fonts/Gilroy-Extrabold.woff2') format('woff2'),
		url('../fonts/Gilroy-Extrabold.woff') format('woff'),
		url('../fonts/Gilroy-Extrabold.ttf') format('ttf');
	font-display: swap;
	}

@font-face {
	font-family: 'Gilroy';
	font-style: normal;
	font-weight: 300;
	src:local('Gilroy'),
		url('../fonts/Gilroy-Light.woff2') format('woff2'), 
		url('../fonts/Gilroy-Light.woff') format('woff'),
		url('../fonts/Gilroy-Light.ttf') format('ttf');
	font-display: swap;
}

:root{
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-white: #ffffff;
	--basic-grey: #464646;
	--basic-half-grey: #7e7e7e;
	--basic-grey-light: #e5e5e5;
	--special-yellow: #F7E296;
	--special-green: #91C92F;
	--special-yellow-dark: #F0C52E;
	--special-yellow-light: #F7E296;
	--icon-yellow: #FFC600;
	--status: #f6dada;

	--form-grey: rgba(0, 0, 0, 0.3);
	--footer-menu: rgba(255, 255, 255, 0.7);
	--pagination-hover-bgcolor: #D9D9D9;

	--write-us-text: rgba(0, 0, 0, 0.4);
	--write-us-background: #F2F2F2;
	--filter-background: #DCDCDC;
	--form-bg-hover: #EAEAEA;
	--pagination-background: #EBEBEB;
	--input-text-disabled: #A6A6A6;
	--form-greylight: rgba(255, 255, 255, 0.3);
}

.map-popup{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
	display: none;
}

.map-popup iframe{
	border: 0;
}

.submenu-wrapper{
	display: none;
	grid-template-columns: 1fr 1fr;
	background-color: var(--special-yellow, #F7E296); 
	position: absolute;
	z-index: 1;
	padding-top: 30px;
	padding-bottom: 8px;
}

.menu-catalog:hover .submenu-wrapper{
	display: grid;
}

.submenu-wrapper:hover{
	display: grid;
}


.submenu li{
	margin-bottom: 20px;
}

.wrapper-column-2{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	margin-bottom: 81px;
}

.info{
	padding-top: 57px;
	position: relative;
}

.info::before,
.contact::before{
    content: "";
    position: absolute;
    width: 80px;
    height: 7px;
    background-color: var(--basic-black, #000000);
    top: -2px;
}

.info li{
	position: relative;
}

.info li::before{
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	border: 2px solid var(--basic-grey-light, #e5e5e5);
	box-sizing: border-box;
	left: -32px;
	top: 16px;
}

.contact{
	padding-top: 57px;
	position: relative;
}

body{
	min-width: 1160px;
	position: relative;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
}

.container{
	width: 1160px;
	margin: 0 auto;
	position: inherit;
}

.body{
	display: grid;
	grid-template-rows: 206px auto 324px;
}

.body h2{
	padding: 0;
	margin: 0;
}

.page-num{
	opacity: 0.3;
}

.pagination a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	text-decoration: none;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.pagination{
	background-color: var(--pagination-background, #EBEBEB);
	list-style: none;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
}

.item .price{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
}

.item-name{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
}

.item .add-favorite{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	opacity: 0.5;
}

.content .item-list{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.content a{
	text-decoration: none;
}

.sort a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	opacity: 0.3;
}

.sort .active{
	opacity: 1;
}

.filter{
	grid-row-start: 3;
	grid-row-end: -1;
}

.filter-color,
.filter-bluetooth{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
}

.filter-price,
.filter-price input{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

.filter legend{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

.filter,
.sort{
	padding:0;
	margin: 0;
	background-color: var(--basic-grey-light, #e5e5e5);
}

.filter h3{
	padding: 0;
	margin: 0;
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: var(--filter-background, #DCDCDC); 
}

.filter fieldset{
	border: 0 none;
}

.breadcrumbs{
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-start: 1;
	grid-column-end: -1;
}

.breadcrumbs a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	opacity: 0.3;
	text-decoration: none;
}

.header-content{
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 20px;
	padding-bottom: 50px;
	background: linear-gradient(to bottom, transparent 40px, var(--special-yellow, #F7E296) 40px, var(--special-yellow, #F7E296) 100%);
}

.icon-user,
.icon-chart,
.icon-cart{
	padding: 0;
	margin: 0;
	padding-right: 8px;
}

.header-guest{
	display: grid;
	grid-template-columns: 50% auto auto;
	list-style: none;
	padding: 0;
	margin: 0;
	margin-top: 16px;
}

.header-guest span:nth-last-child(1),
.header-guest span:nth-last-child(2){
	text-align: right;
}

.header-user a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
}

.header-user{
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.menu-wrapper{
	grid-column-start: 1;
	grid-column-end: -1;
	margin-top: 32px;
}

.menu{
	display: grid;
	grid-template-columns: 50% 1fr 1fr 1fr;
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu-contacts{
	text-align: right;
}

.header-content a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	text-decoration: none;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.menu a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--basic-black, #000000);
}

.submenu a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
	letter-spacing: normal;
	text-transform: none;
}

.submenu{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.grid-columns2{
	grid-column-start: 2;
	grid-column-end: -1;
}

.write-us{
	display: none;
	grid-template-columns: 1fr 1fr;
	box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.15);
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	padding-right: 100px;
	padding-left: 100px;
	padding-top: 92px;
	padding-bottom: 69px;
	box-sizing: border-box;
	grid-column-gap: 40px;
	position: relative;
}

.popup-textarea{
	grid-column-start: 1;
	grid-column-end: -1;
}

.button-close{
	position: absolute;
	top: 20px;
	right: 20px;	
	width: 55px;
	height: 55px;
	cursor: pointer;
	background-color: var(--special-yellow-dark, #F0C52E);
	border-radius: 50%;
	border: 0;
	opacity: 0.5;
}

.button-close:hover{
	opacity: 1;
}

.button-close:active{
	opacity: 0.7;
}

.write-us input,
.write-us textarea{
	font-family: 'Gilroy', 'Arial', sans-serif;
	background-color: var(--write-us-background, #F2F2F2);
	color: var(--write-us-text, rgba(0, 0, 0, 0.4));
	font-size: 14px;
	line-height: 16px;
	border: 2px solid var(--write-us-background, #F2F2F2);
	box-sizing: border-box;
	display: block;
	width: 100%;
	margin-top: 10px;
}

.write-us input{
	padding-top: 16px;
	padding-bottom: 15px;
	padding-left: 20px;
}

.write-us textarea{
	margin-top: 32px;
	margin-bottom: 54px;
	grid-column-start: 1;
	grid-column-end: -1;
	padding-top: 16px;
	padding-left: 20px;
	padding-bottom: 15px;
	resize: none;
	min-height: 167px;
}

.write-us label{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}

.footer-telephone{
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-top: 40px;
}

.developed-by{
	margin-top: 67px;
	margin-left: auto;
}

.social{
	grid-column-start: 2;
	grid-column-end: 3;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 67px;
	text-align: center;
	display: grid;
	grid-template-columns: 32px 32px 32px;
	grid-gap: 20px;
	margin-right: auto;
	margin-left: auto;
}

.social a{
	color: var(--basic-white, white);
	position: relative;
}

.facebook::before{
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/icons/icon-facebook.svg");
	opacity: 0.3;
}

.instagram{
	position: relative;
}

.instagram::before{
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/icons/icon-instagram.svg");
	opacity: 0.3;
}

.twitter::before{
	content: "";
	position: absolute;
	width: 32px;
	height: 32px;
	background-image: url("../img/icons/icon-twitter.svg");
	opacity: 0.3;
}

.facebook:hover::before,
.instagram:hover::before,
.twitter:hover::before{
	opacity: 1;
}

.facebook:focus::before,
.instagram:focus::before,
.twitter:focus::before{
	outline: auto 1px;
	opacity: 1;
}

.facebook:active::before,
.instagram:active::before,
.twitter:active::before{
	opacity: 0.1;
}

.footer-user a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--footer-menu, rgba(255, 255, 255, 0.7));
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.footer-guest{
	list-style: none;
	padding: 0;
	margin: 0;
	grid-column-start: 2;
	grid-column-end: -1;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 46px;
	margin-left: auto;
}

.footer-guest path{
	fill: var(--icon-yellow, #FFC600);
}

.footer-guest a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--footer-menu, rgba(255, 255, 255, 0.7));
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	margin-left: 33px;
}

.footer-guest span{
	text-align: right;
}

.menu-footer a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-white, #fffffff);
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.footer p,
.call-us{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-white, #fffffff);
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.footer .container::before{
	content: "";
	top: 239px;
	position: absolute;
	width: 80px;
	height: 7px;
	background-color: var(--icon-yellow, #FFC600);
}

.menu-footer{
	margin-top: 39px;
}

.menu-footer ul{
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 36px;
}

.footer-address{
	margin: 0;
	padding: 0;
	margin-top: 40px;
}

.footer a{
	text-decoration: none;
}

.footer{
	background-color: var(--basic-dark,#363636);
	position: relative;
}

.footer .container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.info ul{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 16px;
	line-height: 42px;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: -14px;
	margin-left: 32px;
	margin-bottom: 71px;
}

.services p,
.info p,
.contact p{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.1em;
	padding: 0;
	margin: 0;
}

.info p,
.contact p{
	margin: 0;
	padding: 0;
	margin-bottom: 40px;
}

.main-wrapper .container{
	display: grid;
	grid-template-columns: 328px 1fr;
	grid-template-rows: auto auto auto auto auto;
}

.services h2,
.info h2,
.contact h2,
.main-content > h2{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
}

.info h2,
.contact h2{
	margin-bottom: 38px;
}

.main-content > h2{
	grid-column-start: 1;
	grid-column-end: -1;
}

.popular{
	position: relative;
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 40px;
	list-style: none;
}

.popular a{
	padding-top: 198px;
}

.popular a::before{
	content: "";
	top: 0;
	position: absolute;
	width: 160px;
	height: 160px;
	background-color: var(--special-yellow-light, #F7E296);
}

.popular a::after{
	content: "";
	top: 0;
	left: 0;
	position: absolute;
	width: 160px;
	height: 160px;
	background-repeat: no-repeat;
	background-position: center;
}

.popular a:hover::before{
	background-color: var(--special-yellow-dark, #F0C52E);
}

.popular a:active{
	color: var(--form-grey, rgba(0, 0, 0, 0.3));
}

.popular a:active::after{
	filter: opacity(0.3);
}

.popular-vr::after{
	background-image: url("../img/popular-vr.svg");
}

.popular-monopod::after{
	background-image: url("../img/popular-monopod.svg");
}

.popular-action-camera::after{
	background-image: url("../img/popular-action-camera.svg");
}

.popular-band::after{
	background-image: url("../img/popular-band.svg");
}

.popular-clock::after{
	background-image: url("../img/popular-clock.svg");
}

.popular-quadro::after{
	background-image: url("../img/popular-quadro.svg");
}

.popular a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	text-decoration: none;
	font-weight: 800;
	font-size: 16px;
	line-height: 22px;
	letter-spacing: 0.05em;
	position: relative;
	display: block;
}

.main-content .slider{
	padding: 0;
	margin: 0;
}

.slider-image{
	grid-row-start: 1;
	grid-row-end: 5;
}

.slider-item{
	display: none;
	position: relative;
}

.slider-item.active{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.slider-info{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.slider .slider-info{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
}

.slider dt{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
	padding-bottom: 15px;
}

.slider dd{
	padding: 0;
	margin: 0;
}

.slider-wrapper{
	position: relative;
	padding-left: 89px;
	padding-right: 47px;
	padding-bottom: 96px;
	padding-top: 5px;
	background: linear-gradient(to bottom, var(--special-yellow, #F7E296) 0, var(--special-yellow, #F7E296) 134px ,transparent 134px);
}

.slider-buttons{
	position: absolute;
	top: 340px;
	right: 113px;
}

.slider-buttons button{
	background-color: var(--basic-white, #ffffff);
	box-sizing: border-box;
	border: 1px solid var(--basic-black, #000000);
	border-radius: 50%;
	width: 12px;
	height: 12px;
	position: relative;
	padding: 0;
	margin-left: 18px;
	cursor: pointer;
}

.slider-buttons button.active::before{
	content: "";
	position: absolute;
	width: 6px;
	height: 6px;
	border: 1px solid var(--basic-black, #000000);
	border-radius: 50%;
	left: 2px;
	top: 2px;
	box-sizing: border-box;
}

.control{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	background-color: rgba(0,0,0,0);
	border: 0;
	padding: 0;
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
}

.slider h2{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	margin-top: 93px;
	z-index: 1;
}

.slider-item.active h2::before{
	content: "";
	position: absolute;
	width: 100px;
	height: 7px;
	background-color: var(--basic-white, #ffffff); 
	top: 34px;
}
.slider-item.active h2::after{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-size: 179px;
	line-height: 219px;
	font-style: normal;
	font-weight: 800;
	text-transform: uppercase;
	color: var(--basic-white, #ffffff); 
	position: absolute;
	width: 170px;
	height: 170px;
	top: -15px;
	right: 11px;
	z-index: -1;
}

.slider-header-monopod::after{
	content: "01";
}

.slider-header-band::after{
	content: "02";
}

.slider-header-quadro::after{
	content: "03";
}

.slider p{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	margin-top: 30px;
}



.logout a{
	color: var(--form-grey,rgba(0, 0, 0, 0.3));
}

a.menu-catalog{
	letter-spacing: 0.1em;
	position: relative;
}

.menu-catalog::after{
	content: "";
	position: absolute;
	width: 22px;
	height: 22px;
	background-image: url("../img/icons/icon-plus.svg");
	left: 321px;
}

.login{
	margin-left: 20px;
}

.search{
	min-height: 52px;
	display: grid;
	grid-template-columns: 38px 128px 84px;
}

.search-input{
	position: relative;
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, black);
	opacity: 0.3;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border-bottom: 2px solid rgba(0,0,0,0);
	background-color: transparent;
	padding-bottom: 14px;
	padding-top: 16px;
}

.search-input::before{
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	background-image: url("../img/icons/icon-search.svg");
}

.logo{
	grid-column-start: 1;
	grid-column-end: -1;
	margin-bottom: 9px;
	margin-right: auto;
}

.footer-logo{
	grid-column-start: 1;
	grid-column-end: 2;
	margin: 0;
	padding: 0;
	margin-top: 64px;
	margin-right: auto;
}

.footer-logo path{
	fill: var(--special-yellow-dark, #F0C52E);
}

.logo[href]:hover,
.footer-logo[href]:hover,
.menu a:hover,
.menu-footer a:hover,
.header-guest a:hover,
.header-user a:hover,
.footer-guest a:hover,
.submenu a:hover,
.developed-by:hover,
.pagination .page-num:hover{
	opacity: 0.6;
}

.logo[href]:active,
.footer-logo[href]:active,
.menu a:active,
.menu-footer a:active,
.header-guest a:active,
.header-user a:active,
.footer-guest a:active,
.submenu a:active,
.developed-by:active,
.pagination .page-num:active{
	opacity: 0.3;
}

.breadcrumbs a:hover{
	opacity: 0.6;
}

.breadcrumbs a:active{
	opacity: 0.1;
}

.pagination .prev:hover,
.pagination .next:hover{
	background-color: var(--pagination-hover-bgcolor, #D9D9D9);	
}

.pagination .prev:active,
.pagination .next:active{
	background-color: var(--pagination-hover-bgcolor, #D9D9D9);	
}

.page-num:active,
.next a:active,
.prev a:active{
	opacity: 0.3;
}

.submenu,
.main-wrapper ul{
	list-style: none;
	padding: 0;
	margin: 0;
}

.item .add-favorite:hover{
	opacity: 1;
}

.item .add-favorite:active{
	opacity: 0.2;
}

.sort{
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
}

.sort a:hover{
	opacity: 0.4;
}

.sort a:active{
	opacity: 1;
}

input[type="radio"]:disabled,
input[type="radio"].disabled,
input[type="checkbox"]:disabled,
input[type="checkbox"].disabled{
	opacity: 0.25;
}

label:disabled,
label.disabled{
	color: var(--input-text-disabled, #A6A6A6);
}

input[type="radio"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:checked:active{
	opacity: 0.6;
}

.search-input:hover{
	opacity: 0.6;
}

.search-input:focus{
	opacity: 1;
	border-bottom: 2px solid var(--basic-black,#000000);
}

.search-button{
	background-color: transparent;
	border: 2px solid var(--basic-black,#000000);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	display: none;
	padding: 15px 17px;
	margin-left: -4px;
}

.search-input:focus ~ .search-button,
.search-button:focus{
	border-radius: 0;
	display: inline-block;
}

.search label{
	order: -1;
	box-sizing: border-box;
	border-bottom: 2px solid rgba(0,0,0,0);
}

.search-input:focus ~ label{
	border-bottom: 2px solid var(--basic-black,#000000);
}

.search-button:hover{
	background-color: var(--basic-black,#000000);
	color: var(--basic-white,#ffffff);
	display: inline-block;
}

.search-button:active{
	background-color: var(--basic-black,#000000);
	color: var(--form-greylight, rgba(255, 255, 255, 0.3));
	display: inline-block;
}

.control::before{
	position: absolute;
	content: "";
	display: inline-block;
	background-color: var(--special-yellow-dark, #F0C52E);
	height: 8px;
	left: 0;
	top:calc(50% - 4px);
	width: 100%;
	z-index: -1;
}

.write-us .control::before{
	background-color: var(--special-yellow, #F7E296);
}

.write-us input:focus,
.write-us textarea:focus,
.search-input:focus,
.search-button:focus{
	outline: 0;
}

.slider-more{
	width: 220px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.services-controls{
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.services-controls::before{
	position: absolute;
	content: "";
	background-color: var(--basic-black,#000000);
	height: 320px;
	width: 7px;
	right: 102px;
	top:0;
}

.services-control:nth-child(1){
	margin-top: 89px;
}

.services-control{
	margin-bottom: 40px;
}

.services-control .control{
	width: 160px;
}

.filter-button,
.buy,
.write-us-button{
	width: 200px;
}

.info-control,
.contact-control{
	width: 260px;
}

.slider-more:hover:before,
.filter-button:hover:before,
.buy:hover:before,
.info-control:hover:before,
.contact-control:hover:before,
.services-control .control:hover:before,
.write-us-button:hover:before{
	height: 40px;
	top:calc(50% - 20px);
}

.slider-more:active:before,
.filter-button:active:before,
.buy:active:before,
.info-control:active:before,
.contact-control:active:before,
.write-us-button:active:before{
	height: 40px;
	top:calc(50% - 20px);
}

.control:active{
	color: var(--form-grey, rgba(0, 0, 0, 0.3));
}

.services-items{
	padding: 0;
	margin: 0;
	list-style: none;
	margin-top: 70px;
	margin-left: 14px;
}

.services{
	position: relative;
	width: 100%;
	margin-top: 64px;
	min-height: 388px;
	overflow: hidden;
}

.services:before{
	position: absolute;
	content: "";
	top: 100px;
	width: 100%;
	height: 100%;
	background-color: var(--basic-grey-light, #e5e5e5);
	z-index: -2;	
}

.services p{
	padding-top: 40px;
	padding-bottom: 40px;
	padding-right: 220px;
}

.services .container{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.services-item{
	display: none;
	position: relative;
}

.services-item.active{
	display: block;
}

.services-control .control:active:before{
	height: 40px;
	top: calc(50% - 20px);
	background-color: var(--basic-black,#000000);
}

.services-control .control:active{
	color: var(--special-yellow, #F7E296);
}

.services-control .control.active{
	width: 277px;
	color: var(--special-yellow, #F7E296);
}

.services-control .control.active:before{
	height: 40px;
	top:calc(50% - 20px);
	background-color: var(--basic-black,#000000);
}

.delivery.active::after{
	content: "";
	position: absolute;
	width: 136px;
	height: 164px;
	background-image: url("../img/service-delivery.png");
	top: 0px;
    right: 0px;
}

.warranty.active::after{
	content: "";
	position: absolute;
	width: 136px;
	height: 164px;
	background-image: url("../img/service-warranty.png");
	top: 0px;
    right: 0px;
}

.credit.active::after{
	content: "";
	position: absolute;
	width: 136px;
	height: 164px;
	background-image: url("../img/service-credit.png");
	top: 0px;
    right: 0px;
}

.vendors{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 90px;
	margin-bottom: 90px;
}

.vendors img{
	filter: opacity(0.19) grayscale(1) ;
}

.vendors img:hover{
	filter: none;
}

.write-us input:hover,
.write-us textarea:hover{
	background-color: var(--form-bg-hover, #EAEAEA);
	border: 2px solid var(--form-bg-hover, #EAEAEA);;
}

.write-us input:focus,
.write-us textarea:focus{
	background-color: var(--basic-white, #ffffff);
	border: 2px solid var(--special-yellow, #F7E296);
}

.write-us input:invalid,
.write-us textarea:invalid{
	background-color: var(--status, #f6dada);
	border: 2px solid var(--status, #f6dada);
}

.map{
	margin-bottom: 85px;
	display: block;
}