.visually-hidden{
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root{
	--basic-black: #000000;
	--basic-dark: #363636;
	--basic-white: #ffffff;
	--basic-grey: #464646;
	--basic-half-grey: #7e7e7e;
	--basic-grey-light: #e5e5e5;
	--special-yellow: #F7E296;
	--special-green: #91C92F;
	--special-yellow-dark: #F0C52E;
	--status: #f6dada;

	--form-grey: rgba(0, 0, 0, 0.3);
	--footer-menu: rgba(255, 255, 255, 0.7);
	--pagination-hover-bgcolor: #D9D9D9;

	--write-us-text: rgba(0, 0, 0, 0.4);
	--write-us-background: #F2F2F2;
	--filter-background: #DCDCDC;
	--form-bg-hover: #EAEAEA;
	--pagination-background: #EBEBEB;
	--input-text-disabled: #A6A6A6;
	--form-greylight: rgba(255, 255, 255, 0.3);
}

.wrapper-column-2{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.body{
	display: grid;
	grid-template-rows: 206px auto 324px;
}

.page-num{
	opacity: 0.3;
}

.pagination a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	text-decoration: none;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.pagination{
	background-color: var(--pagination-background, #EBEBEB);
}

.item .price{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.05em;
}

.item-name{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
}

.item .add-favorite{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	opacity: 0.5;
}

.content a{
	text-decoration: none;
}

.sort a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	text-decoration: none;
	font-weight: normal;
	font-size: 14px;
	line-height: 19px;
	opacity: 0.3;
}

.sort .active{
	opacity: 1;
}

.filter-color,
.filter-bluetooth{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
}

.filter-price,
.filter-price input{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 14px;
	line-height: 16px;
}

.filter legend{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.1em;
}

.filter form,
.sort{
	padding:0;
	margin: 0;
	background-color: var(--basic-grey-light, #e5e5e5);
}

.filter h3{
	padding: 0;
	margin: 0;
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background-color: var(--filter-background, #DCDCDC); 
}

.filter fieldset{
	border: 0 none;
}

.breadcrumbs a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
	opacity: 0.3;
	text-decoration: none;
}

.header{
	display: grid;
	grid-template-columns: auto auto;
}

.header-guest{
	display: grid;
	grid-template-columns: auto auto auto auto;
}

.header-user a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
}

.header-user{
	list-style:none;
}

.menu{
	grid-column-start: 1;
	grid-column-end: -1;
}

.menu ul{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.menu-popup a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	text-decoration: none;
}

.menu-popup{
	background-color: var(--special-yellow, #F7E296); 
}

.write-us{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.popup-textarea{
	grid-column-start: 1;
	grid-column-end: -1;
}

.write-us input,
.write-us textarea{
	font-family: 'Gilroy', 'Arial', sans-serif;
	background-color: var(--write-us-background, #F2F2F2);
	color: var(--write-us-text, rgba(0, 0, 0, 0.4));
	font-size: 14px;
	line-height: 16px;
	border: 2px solid var(--write-us-background, #F2F2F2);
	box-sizing: border-box;
}

.write-us label{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
}

.social{
	grid-column-start: 2;
	grid-column-end: 3;
}

.social a{
	color: var(--basic-white, white);
}

.social li{
	opacity: 0.3;
}

.footer-user a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--footer-menu, rgba(255, 255, 255, 0.7));
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.footer-guest{
	grid-column-start: 2;
	grid-column-end: -1;
}

.footer-guest a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--footer-menu, rgba(255, 255, 255, 0.7));
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.menu-footer a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-white, #fffffff);
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}

.footer p,
.call-us{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-white, #fffffff);
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.footer a{
	text-decoration: none;
}

.footer{
	background-color: var(--basic-dark,#363636);
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.info ul{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 16px;
	line-height: 28px;
}

.services p,
.info p,
.contact p{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 15px;
	line-height: 28px;
	letter-spacing: 0.1em;
}

.services h2,
.info h2,
.contact h2,
.main > h2{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
	letter-spacing: 0.2em;
}

.popular{
	padding: 0;
	margin: 0;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.popular a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	text-decoration: none;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.05em;
}

.slider{
	padding: 0;
	margin: 0;
}

.slider-image{
	grid-row-start: 1;
	grid-row-end: 5;
}

.slider-item{
	display: none;
}

.slider-item.active{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.slider-info{
	display: grid;
}

.slider .slider-info{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 13px;
	line-height: 15px;
	letter-spacing: 0.1em;
}

.slider dt{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 0.1em;
}

.control{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	text-decoration: none;
	background-color: rgba(0,0,0,0);
	border: 0;
	padding: 0;
	position: relative;
	display: block;
	text-align: center;
}

.slider h2{
	font-family: 'Gilroy', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 800;
	font-size: 47px;
	line-height: 58px;
}
.slider p{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.header a{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, #000000);
	text-decoration: none;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
}

.logout a{
	color: var(--form-grey,rgba(0, 0, 0, 0.3));
}

.menu a{
	font-family: 'Gilroy', 'Arial', sans-serif;
	font-weight: 800;
	font-size: 18px;
	line-height: 22px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
	color: var(--basic-black, #000000);
}

a.menu-catalog{
	letter-spacing: 0.1em;
}

.search-input{
	font-family: 'Open Sans', 'Arial', sans-serif;
	color: var(--basic-black, black);
	opacity: 0.3;
	font-weight: 300;
	font-size: 15px;
	line-height: 20px;
	border: 0;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	border: 2px solid tranparent;
}

.logo{
	grid-column-start: 1;
	grid-column-end: -1;
}

.footer .logo{
	grid-column-start: 1;
	grid-column-end: 2;
}

.logo:hover,
.menu a:hover,
.menu-footer a:hover,
.header-guest a:hover,
.header-user a:hover,
.footer-guest a:hover,
.menu-popup a:hover,
.developed-by:hover,
.pagination .page-num:hover{
	opacity: 0.6;
}

.logo:active,
.menu a:active,
.menu-footer a:active,
.header-guest a:active,
.header-user a:active,
.footer-guest a:active,
.menu-popup a:active,
.popular a:active,
.developed-by:active,
.pagination .page-num:active{
	opacity: 0.3;
}

.breadcrumbs a:hover,
.social a:hover{
	opacity: 0.6;
}

.breadcrumbs a:active,
.social a:active{
	opacity: 0.1;
}

.pagination .prev:hover,
.pagination .next:hover{
	background-color: var(--pagination-hover-bgcolor, #D9D9D9);	
}

.pagination .prev:active,
.pagination .next:active{
	background-color: var(--pagination-hover-bgcolor, #D9D9D9);	
}

.page-num:active,
.next a:active,
.prev a:active{
	opacity: 0.3;
}

.header ul,
.main ul,
.footer ul,
.menu-popup ul{
	list-style: none;
}

.item .add-favorite:hover{
	opacity: 1;
}

.item .add-favorite:active{
	opacity: 0.2;
}

.sort a:hover{
	opacity: 0.4;
}

.sort a:active{
	opacity: 1;
}

input[type="radio"]:disabled,
input[type="radio"].disabled,
input[type="checkbox"]:disabled,
input[type="checkbox"].disabled{
	opacity: 0.25;
}

label:disabled,
label.disabled{
	color: var(--input-text-disabled, #A6A6A6);
}

input[type="radio"]:hover,
input[type="checkbox"]:hover,
input[type="radio"]:checked:active{
	opacity: 0.6;
}

.search-input:hover{
	opacity: 0.6;
}

.search-input:focus{
	opacity: 1;
	border-bottom: 2px solid var(--basic-black,#000000);
}

.search-button{
	background-color: transparent;
	border: 2px solid var(--basic-black,#000000);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	display: none;
}

.search-input:focus ~ .search-button,
.search-button:focus{
	border-radius: 0;
	display: inline-block;

}

.search-button:hover{
	background-color: var(--basic-black,#000000);
	color: var(--basic-white,#ffffff);
	display: inline-block;
}

.search-button:active{
	background-color: var(--basic-black,#000000);
	color: var(--form-greylight, rgba(255, 255, 255, 0.3));
	display: inline-block;
}

.control:before{
	position: absolute;
	content: "";
	display: inline-block;
	background-color: var(--special-yellow-dark, #F0C52E);
	height: 8px;
	left: 0;
	top:calc(50% - 4px);
	width: 100%;
	z-index: -1;
}

.write-us input:focus,
.write-us textarea:focus,
.search-input:focus,
.search-button:focus{
	outline: 0;
}

.slider-more{
	width: 220px;
}

.services-control .control,
.filter-button,
.buy,
.write-us-button{
	width: 200px;
}

.info-control,
.contact-control{
	width: 260px;
}

.slider-more:hover:before,
.filter-button:hover:before,
.buy:hover:before,
.info-control:hover:before,
.contact-control:hover:before,
.services-control .control:hover:before,
.write-us-button:hover:before{
	height: 40px;
	top:calc(50% - 20px);
}

.slider-more:active:before,
.filter-button:active:before,
.buy:active:before,
.info-control:active:before,
.contact-control:active:before,
.write-us-button:active:before{
	height: 40px;
	top:calc(50% - 20px);
}

.control:active{
	color: var(--form-grey, rgba(0, 0, 0, 0.3));
}

.services{
	display: grid;
	grid-template-columns: 1fr 2fr;
}

.services-item{
	display: none;
}

.services-item.active{
	display: block;
}

.services-control .control:active:before{
	height: 40px;
	top:calc(50% - 20px);
	background-color: var(--basic-black,#000000);
}

.services-control .control:active{
	color: var(--special-yellow, #F7E296);
}

.services-control .control.active{
	color: var(--special-yellow, #F7E296);
}

.services-control .control.active:before{
	height: 40px;
	top:calc(50% - 20px);
	background-color: var(--basic-black,#000000);
}

.services-control .control:focus{
	outline: 0;
}

.vendors{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.vendors img{
	filter: opacity(0.19) grayscale(1) ;
}

.vendors img:hover{
	filter: none;
}

.write-us input:hover,
.write-us textarea:hover{
	background-color: var(--form-bg-hover, #EAEAEA);
	border: 2px solid var(--form-bg-hover, #EAEAEA);;
}

.write-us input:focus,
.write-us textarea:focus{
	background-color: var(--basic-white, #ffffff);
	border: 2px solid var(--special-yellow, #F7E296);
}

.write-us input:invalid,
.write-us textarea:invalid{
	background-color: var(--status, #f6dada);
	border: 2px solid var(--status, #f6dada);
}
